node_modules/
build/
dist/
coverage/
.DS_Store
*.log

.env*
!.env.example
.env.local

appsettings.json
appsettings.Development.json

# .NET build folders
bin/
obj/
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates